--find-links https://download.pytorch.org/whl/cu118

catboost==1.2
data_science_utils==1.7.1
matplotlib==3.7.1
munkres==1.1.4
networkx==3.1
pacmap==0.7.0
pyvis==0.3.2
scikit_learn==1.2.2
scipy==1.10.1
torch==2.0.1
